<html>
  <body>
    <form action="/update-json" method="POST">
      <label for="year">Year:</label><br />
      <input type="text" id="year" name="year" /><br />
      <label for="season">Season:</label><br />
      <input type="text" id="season" name="season" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
