<html>
  <body>
    <h1>Sighting</h1>
    <ul>
      <% Object.keys(sighting).forEach(function(key) { %>
      <li><%= `${key}: ${sighting.key}` %></li>
      <% }); %>
      <!-- for testing purpose -->
      <li><%= `YEAR: ${sighting.YEAR}` %></li>
    </ul>
  </body>
</html>
