<html>
  <body>
    <h1>Sighting</h1>
    <ul>
      <% sightings.forEach(function(sightingObj) { %>
      <li>
        <%- `YEAR: ${sightingObj.year} <br />
        STATE: ${sightingObj.state} <br />
        OBSERVED: ${sightingObj.observed}` %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
